@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --white-color:#fff;
    --black-color:#000;
    --primary-color:#BED7DC;
    --second-color:#B3C8CF;
    --thred-color:#F97300;

    --poppins-font:"Poppins", sans-serif;
    --ubuntu-font:"Ubuntu", sans-serif;
    --mulish-font:"Mulish", sans-serif;
    --munito-font:"Nunito", sans-serif;

    --bold:700;
    --medium:400;

    --c: #1095c1;

}
*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--poppins-font);
}

.about-intro{
    margin: 8% 0 0 10% ;
}
.detail-about{
    margin: 0 43% 0 10%;
    text-align: justify;
}
.link-github{
    color: var(--c);
    font-weight: var(--bold);
    transition: .3s;
}
.link-github:hover{
    color: var(--thred-color);
}

footer{
    color: var(--black-color);
    text-align: center;
    margin-top: 10.46em;
    opacity: 0.9;
}


